# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# script to sign the app with sensitive info 
mac-sign.sh
mac-sign-dev.sh

# sensitive file
/src-tauri/Entitlements.plist
/src-tauri/build
